.backdrop,
.modal {
  top: 0%;
  position: fixed;
}

.backdrop {
  left: 0%;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.493);
  cursor: pointer;
  z-index: 9999 !important;
}

.modal {
  left: 29.2%;
  width: 70vw;
  height: 100vh;
  background: rgb(236, 234, 234);
  z-index: 99999 !important;
  animation: moveLeft 0.5s;
  overflow-y: scroll;
}
@keyframes moveLeft {
  0% {
    left: 100%;
  }
  100% {
    left: 39.2%;
  }
}

@media screen and (max-width: 500px) {
  .modal {
    width: 86vw;
    left: 14%;
  }
}
